USE [master]
GO
/****** Object:  Database [dbSistema]    Script Date: 6/11/2023 18:39:07 ******/
CREATE DATABASE [dbSistema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSistema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbSistema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbSistema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbSistema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbSistema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbSistema]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/11/2023 18:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaVenta]    Script Date: 6/11/2023 18:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaVenta](
	[IdLinea] [int] IDENTITY(1,1) NOT NULL,
	[IdProd] [int] NOT NULL,
	[VentaId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_LineaVenta] PRIMARY KEY CLUSTERED 
(
	[IdLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 6/11/2023 18:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProd] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Marca] [nvarchar](max) NOT NULL,
	[IdVendedor] [int] NOT NULL,
	[PrecioUnitario] [real] NOT NULL,
	[PrecioX10] [real] NOT NULL,
	[PrecioMayorista] [real] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[imagen] [varbinary](max) NULL,
	[stock] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/11/2023 18:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Foto] [varbinary](max) NULL,
	[Tipo] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 6/11/2023 18:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[Monto] [real] NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231002181028_initial', N'7.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231030183236_Second', N'7.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231030184322_3rd', N'7.0.11')
GO
SET IDENTITY_INSERT [dbo].[LineaVenta] ON 

INSERT [dbo].[LineaVenta] ([IdLinea], [IdProd], [VentaId], [Cantidad]) VALUES (1, 2, 1, 3)
INSERT [dbo].[LineaVenta] ([IdLinea], [IdProd], [VentaId], [Cantidad]) VALUES (2, 3, 1, 1)
INSERT [dbo].[LineaVenta] ([IdLinea], [IdProd], [VentaId], [Cantidad]) VALUES (3, 2, 2, 3)
SET IDENTITY_INSERT [dbo].[LineaVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProd], [Nombre], [Marca], [IdVendedor], [PrecioUnitario], [PrecioX10], [PrecioMayorista], [Descripcion], [imagen], [stock]) VALUES (3, N'Coco', N'Smirnoff', 3, 3200, 3000, 2500, N'Vodka de coco', NULL, 80)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [DNI], [Nombre], [Apellido], [Email], [Password], [Foto], [Tipo], [Estado]) VALUES (1, 43114489, N'Eliseo', N'Grancelli', N'eliseo@gmail.com', N'pass', NULL, N'Administrador', N'Activo')
INSERT [dbo].[Usuarios] ([Id], [DNI], [Nombre], [Apellido], [Email], [Password], [Foto], [Tipo], [Estado]) VALUES (3, 44676456, N'Filippo', N'Bianconi', N'filippo@gmail.com', N'pass', NULL, N'Vendedor', N'Activo')
INSERT [dbo].[Usuarios] ([Id], [DNI], [Nombre], [Apellido], [Email], [Password], [Foto], [Tipo], [Estado]) VALUES (1002, 44556677, N'Julieta', N'Heintz', N'juli@gmail.com', N'password', NULL, N'Cliente', N'Activo')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [IdCliente], [fecha], [Monto], [Estado]) VALUES (1, 1002, CAST(N'2023-10-30T18:22:47.4349118' AS DateTime2), 0, N'Pendiente')
INSERT [dbo].[Ventas] ([Id], [IdCliente], [fecha], [Monto], [Estado]) VALUES (2, 1002, CAST(N'2023-11-01T15:10:24.3058260' AS DateTime2), 0, N'Pendiente')
INSERT [dbo].[Ventas] ([Id], [IdCliente], [fecha], [Monto], [Estado]) VALUES (3, 1002, CAST(N'2023-11-01T15:13:27.3350521' AS DateTime2), 0, N'Pendiente')
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
/****** Object:  Index [IX_LineaVenta_VentaId]    Script Date: 6/11/2023 18:39:08 ******/
CREATE NONCLUSTERED INDEX [IX_LineaVenta_VentaId] ON [dbo].[LineaVenta]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_IdCliente]    Script Date: 6/11/2023 18:39:08 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_IdCliente] ON [dbo].[Ventas]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LineaVenta]  WITH CHECK ADD  CONSTRAINT [FK_LineaVenta_Ventas_VentaId] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineaVenta] CHECK CONSTRAINT [FK_LineaVenta_Ventas_VentaId]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios_IdCliente]
GO
USE [master]
GO
